/* Login.css */

body, html {

  height: 100%;

  margin: 0;

  font-family: Arial, sans-serif;

  background: #dae1e7;

}

.login-intro {

  text-align: center;

  color: #fff;

  margin-bottom: 25px;

  font-size: 16px;

  line-height: 1.4;

}



.login-footer {

  text-align: center;

  margin-top: 20px;

  color: #fff;

  font-size: 14px;

}



.login-footer a {

  color: #00f0ff;

  text-decoration: none;

  font-weight: bold;

}



.login-footer a:hover {

  text-decoration: underline;

}



.login-wrapper {

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

}



.login-container {

    margin-left: 590px;

  width: 300px;

  height: 400px;

  max-width: 400px;

  padding: 40px;

  background: #379cda;

  border-radius: 12px;

  border: 2px solid #fff;

  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

  transition: box-shadow 0.3s ease, border 0.3s ease;

}



.login-container:hover {

  box-shadow: 0 0 25px 4px #00f0ff;

  border-color: #00f0ff;

}



.login-container h2 {

  text-align: center;

  margin-bottom: 30px;

  color: #fff;

}



.login-container form {

  display: flex;

  flex-direction: column;

  gap: 15px;

}



.login-container input {

  padding: 12px 15px;

  border-radius: 8px;

  border: 1px solid #ccc;

  font-size: 16px;

  transition: 0.2s;

}



.login-container input:focus {

  border-color: #007bff;

  outline: none;

  box-shadow: 0 0 8px #007bff;

}



.login-container button {

  padding: 12px;

  border: none;

  border-radius: 8px;

  background: #007bff;

  color: #fff;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;

}



.login-container button:hover {

  background: #0056b3;

  transform: scale(1.05);

}



.login-message {

  margin-top: 20px;

  white-space: pre-wrap;

  text-align: center;

  color: #d8000c;

}



.login-message.success {

  color: #4caf50;

}